<form (ngSubmit)="verificar()">
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Pizza:</label>
        <select [compareWith]="byId" class="form-select" name="pizza" [(ngModel)]="produto.pizza">  

            <option *ngFor="let pizza of listaPizza" [ngValue]="pizza"> {{pizza.sabores}} </option>

        </select>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Acompanhamentos:</label>
        <input type="text" class="form-control" name="exampleInputText1" [(ngModel)]="produto.acompanhamentos">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>