<form (ngSubmit)="verificar()">
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
            [(ngModel)]="funcionario.nome">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Username:</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="funcionario.username">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha:</label>
        <input type="text" class="form-control" name="senha" [(ngModel)]="funcionario.senha">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>