<div class="container">
    <h3 class="alert alert-primary">Listagem de Pedidos!</h3>
    <label for="filtro" class="form-label">Filtrar:</label>
    <input type="text" class="form-control" name="filtro" [(ngModel)]="busca" (ngModelChange)="filtra()">
    <br>
    <td> <button class="btn btn-primary" (click)="adicionar(modal1)">Adicionar</button> </td>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th 
                        scope="col">Data</th>
                        <th scope="col">status</th>
                        <th scope="col">cliente</th>
                        <th scope="col">Produtos</th>
                        <th class="center" scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedidos of listaFiltrada; let i = index">
                        <th scope="row">{{ pedidos.idPedido }}</th>
                        <td> {{ pedidos.dataDoPedido }} </td>
                        <td> {{ pedidos.status }} </td>
                        <td> {{ pedidos.cliente.nome }}</td>
                        <td>
                            <button class="btn btn-success" (click)="visualizar(modal1, pedidos)">Visualizar</button>
                        </td>
                        <td> 
                            <button class="btn btn-primary col-3" style="margin-right: 6px;" (click)="editar(modal1, pedidos, i)">Editar</button> 
                            <button class="btn btn-danger col-3" style="margin-right: 6px;" (click)="deletar(pedidos)">Deletar</button>
                            <button class="btn btn-dark col-3" (click)="adicionar(modal2)">Finalizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-pedidosdetails [modoConsulta]="modoConsulta" [pedido]="pedidoSelecionadoParaEdicao" (retorno)="addOuEditarPedido($event)" ></app-pedidosdetails>
        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #modal2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-vendasdetails [pedido]="pedidoSelecionadoParaEdicao" ></app-vendasdetails>
        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>